{% extends 'base.html.twig' %}

{% block body %}
    {% set periods = ['today', 'one_week_ago', 'two_weeks_ago'] %}

    {% for period in periods %}
        <h1>{{ period|trans }}</h1>
        <p>{{ data.periodData(period)['date'].format('Y-m-d') }}</p>

        {% for item in data.periodData(period)['items'] %}
            {{ item.description }} {{ item.count }} {{ item.weight }}
        {% endfor %}
    {% endfor %}
{% endblock %}
