{% extends 'base.html.twig' %}

{% import 'common/macros.html.twig' as macros %}

{% block body %}
    <h1>{{ 'battery_pack.message.list'|trans }}</h1>

    <a href="{{ path('app_battery_pack_new') }}">
        {{ 'battery_pack.message.create_new'|trans }}
    </a>

    <hr />

    <div>
        {% for batteryPack in batteryPacks %}
            <div>
                <h1>
                    <a href="{{ path('app_battery_pack_show', {'id': batteryPack.id}) }}">
                        {{ batteryPack.name ? batteryPack.name : 'battery_pack.message.anonymous'|trans }}
                    </a>
                </h1>
                {{ macros.batteryPackTypeLabel(batteryPack.type) }}
                <p>{{ 'battery_pack.message.count'|trans }} {{ batteryPack.count }}</p>
            </div>

            {% if not loop.last %}<hr />{% endif %}
        {% else %}
            <p>{{ 'battery_pack.message.no_results'|trans }}</p>
        {% endfor %}
    </div>

    {{ renderStatistics() }}
{% endblock %}
