{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_battery_pack_index') }}">
        {{ 'battery_pack.message.back_to_list'|trans }}
    </a>
    <h1>{{ 'battery_pack.message.create_new'|trans }}</h1>

    {% include 'battery-pack/_form.html.twig' %}
{% endblock %}
