{% extends 'base.html.twig' %}

{% import 'common/macros.html.twig' as macros %}

{% block body %}
    <a href="{{ path('app_battery_pack_index') }}">
        {{ 'battery_pack.message.back_to_list'|trans }}
    </a>
    <h1>{{ 'battery_pack.message.show'|trans }}</h1>

    <hr>

    <div>
        <div>
            {{ batteryPack.name ? batteryPack.name : 'battery_pack.message.anonymous'|trans }}
            {{ macros.batteryPackTypeLabel(batteryPack.type) }}
            <p>{{ 'battery_pack.message.count'|trans }} {{ batteryPack.count }}</p>
        </div>
    </div>
{% endblock %}
