{% for lang in ['en', 'ro'] if lang != app.request.locale %}
    <a href="{{ path(app.request.attributes.get('_route', 'home'), app.request.attributes.get('_route_params', {})|merge({ _locale: lang })) }}">
        <span>{{ lang|title }}</span>
    </a>
{% endfor %}
