{% macro batteryPackTypeLabel(type) %}
    {% set elements = constant('AppBundle\\Entity\\Enum\\BatteryTypeEnum::ELEMENTS') %}

    <p>{{ 'battery_pack.message.type'|trans }} {{ elements[type]|trans }}</p>
{% endmacro %}
